html, body {
   background-color: #fff; 
   font-family: 'Arial', serif; margin: 0; padding: 0; 
} 

.header {
   background-color:#fff; 
   height: 140px; 
   text-align: center; 
} 

.header h1 {
   color: #31363d; 
   font-size: 32px; 
   margin: 0 auto; 
   position: relative; 
   padding-bottom: 10px; 
   text-transform: uppercase; 
   top:44px; 
} 

.nav ul {
   height:50px; 
   margin: 0 0 30px; 
   padding: 20px 0px;
   text-align: center; 
} 

.nav li {
   color: #000; 
   display: inline; 
   text-transform: uppercase; 
   padding: 0px 10px; 
   -webkit-transition:color 0.25s; 
   transition:color 0.25s; 
} 

.nav li:hover {
   color: #31363d; 
   cursor:pointer; 
   -webkit-transition:color 1s; 
   transition:color 1s; 
} 

.row {
   margin-top: 30px; 
   max-width: 100%, height: 25px;
} 

.footer {
   color: #31363d; 
   font-size: 10px; 
   height: 70px; 
   line-height:70px; 
   padding-right:40px; 
   text-align: center; 
   text-transform: uppercase; 
   margin-bottom: 100px;
} 

@media (max-width: 500px) 
{ 
	.row { 
	margin-top: 0;
	} 

	.img-responsive { 
	margin-bottom: 20px; 
	} 
} 

.clearfix {
   clear: both; 
} 